<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index,follow,max-image-preview:large">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }} Blog RSS" href="{{ '/feed.xml' | relative_url }}">

<link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
<link rel="icon" type="image/png" href="{{ '/assets/icons/Favicon.png' | relative_url }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
